html {

    font-size: 16px;
}

body {

    background-color: #F5EEE6;
    margin: 0;
    padding: 0;
    color: #363636;
}

html.mobile-menu_open, body.mobile-menu_open {

    overflow: hidden;
}

.section {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {

    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
}

.page-title {

    font-weight: bold;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
}

@media screen and (max-width:780px) {

    .page-title {

        font-size: 80px;
        line-height: 80px;
    }
}

@media screen and (max-width:670px) {

    .title {

        font-size: 70px;
    }

    .page-title {

        font-size: 70px;
        line-height: 70px;
    }
}

@media screen and (max-width:540px) {

    .title {

        font-size: 60px;
    }

    .page-title {

        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width:480px) {

    .title {

        font-size: 50px;
    }

    .page-title {

        font-size: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width:420px) {

    .title {

        font-size: 45px;
    }

    .page-title {

        font-size: 45px;
        line-height: 45px;
    }
}

@media screen and (max-width:360px) {

    .title {

        font-size: 40px;
    }

    .page-title {

        font-size: 40px;
        line-height: 40px;
    }
}

@import 'components/header';
@import 'components/main-block';
@import 'components/btn';
@import 'components/akcii';
@import 'components/catalog';
@import 'components/skidki';
@import 'components/delivery';
@import 'components/instagramm';
@import 'components/footer';
@import 'components/mobile-menu';
@import 'components/catalog-page';