html {

    font-size: 16px;
}

body {

    background-color: #F5EEE6;
    margin: 0;
    padding: 0;
    color: #363636;
}

.section {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {

    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
}

@import 'components/header';
@import 'components/main-block';
@import 'components/btn';
@import 'components/akcii';
@import 'components/catalog';
@import 'components/skidki';
@import 'components/delivery';