.catalog {

    margin-top: 100px;
    padding-top: 100px;
    background-image: url('../resources/imgs/catalog-vector.svg');
    background-repeat: no-repeat;
    background-position: 0 15px;
    background-size: auto 100px;


    &__desc {

        font-size: 18px;
        margin-top: 10px;
        max-width: 470px;
    }

    &__items {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__btn {

        display: none;
    }

    &__item {

        display: block;
        width: 550px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #fff;
        padding: 30px;
        text-decoration: none;
        margin-top: 80px;
        position: relative;

        &-title {

            color: #363636;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
            position: absolute;
            bottom: calc(100% - 20px);
            left: 0;
        }

        &-image {

            text-align: center;

            img {

                width: 100%;
                max-width: 380px;
            }
        }
    }
}

@media screen and (max-width:1200px) {

    .catalog {

        &__item {

            width: 500px;
        }
    }
}

@media screen and (max-width:1100px) {

    .catalog {

        &__item {

            width: 450px;
        }
    }
}

@media screen and (max-width:1000px) {

    .catalog {

        &__item {

            width: 400px;
        }
    }
}

@media screen and (max-width:900px) {

    .catalog {

        &__item {

            width: 350px;
        }
    }
}

@media screen and (max-width:800px) {

    .catalog {

        &__item {

            width: 300px;

            &-title {

                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width:780px) {

    .catalog {

        background-image: url('../resources/imgs/catalog-vector-mobile.svg');
        background-size: 70% auto;
        background-position: 0 0;
        margin-top: 50px;
        padding-bottom: 360px;
        position: relative;

        &__desc {

            margin-bottom: 20px;
        }

        &__items {

            display: none;
        }

        &__btn {

            display: inline-block;
            position: relative;
            z-index: 1;
        }

        &::before {

            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 400px;
            bottom: 0;
            left: 0;
            background-image: url('../resources/imgs/catalog-background.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: auto 100%;
            z-index: 0;
        }
    }
}

@media screen and (max-width:670px) {

    .catalog {

        padding-bottom: 320px;
        background-size: 75% auto;

        &::before {
        
            height: 360px;
        }
    }
}

@media screen and (max-width:540px) {

    .catalog {

        padding-bottom: 300px;
        padding-top: 80px;

        &::before {
        
            height: 340px;
        }
    }
}

@media screen and (max-width:480px) {

    .catalog {

        padding-bottom: 280px;
        padding-top: 70px;

        &::before {
        
            height: 320px;
        }
    }
}

@media screen and (max-width:420px) {

    .catalog {

        padding-bottom: 240px;
        padding-top: 60px;

        &::before {
        
            height: 280px;
        }
    }
}

@media screen and (max-width:360px) {

    .catalog {

        padding-bottom: 200px;
        padding-top: 55px;
        background-size: 80% auto;

        &::before {
        
            height: 240px;
        }
    }
}