.catalog {

    margin-top: 100px;
    padding-top: 100px;
    background-image: url('../resources/imgs/catalog-vector.svg');
    background-repeat: no-repeat;
    background-position: 0 15px;
    background-size: auto 100px;


    &__desc {

        font-size: 18px;
        margin-top: 10px;
        max-width: 470px;
    }

    &__items {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {

        display: block;
        width: 550px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #fff;
        padding: 30px;
        text-decoration: none;
        margin-top: 80px;
        position: relative;

        &-title {

            color: #363636;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
            position: absolute;
            bottom: calc(100% - 20px);
            left: 0;
        }

        &-image {

            text-align: center;

            img {

                width: 100%;
                max-width: 380px;
            }
        }
    }
}