.delivery-page {

    margin-top: 80px;

    &__title {

        position: relative;

        &::before {

            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 120px;
            top: -70px;
            left: -80px;
            background-image: url('../resources/imgs/delivery-page-title-vector.svg');
            background-repeat: no-repeat;
            background-position: 0 -50px;
            background-size: auto 250px;
        }
    }

    &__inform {

        margin-top: 80px;

        &-hours {

            display: flex;
            align-items: flex-end;

            &-left {

                font-size: 18px;
                padding-bottom: 10px;
                margin-right: 30px;
            }

            &-right {

                font-weight: bold;
                font-size: 30px;
                text-transform: uppercase;

                span {

                    display: block;
                }
            }
        }

        &-phones {

            display: flex;
            margin-top: 120px;
        }

        &-phone {

            font-size: 18px;
            padding-right: 150px;
            position: relative;

            &::before {

                content: '';
                display: block;
                position: absolute;
                width: 180px;
                height: 180px;
                right: 0;
                top: -80px;
                background-image: url('../resources/imgs/delivery-page-maykop-round1.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: auto 180px;
            }

            &:first-child {

                margin-right: 10px;
            }

            &:last-child {

                margin-left: auto;

                &::before {

                    background-image: url('../resources/imgs/delivery-page-belorechensk-round1.svg');
                }
            }

            span {

                text-transform: uppercase;
                color: #C2000D;
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;
                display: block;
                margin-top: 10px;
            }
        }
    }

    &__zones {

        margin-top: 150px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;

        &-title-wrapper {

            text-align: center;
        }

        &-title {

            display: inline-block;
            text-align: left;
            margin-bottom: 20px;

            span {

                font-weight: bold;
                font-size: 30px;
                text-transform: uppercase;
                color: #C2000D;
                display: block;
            }
        }

        &-item {

            display: flex;
            align-items: center;
            margin-bottom: 50px;

            &:last-child {

                margin-bottom: 0;
            }

            &-image {

                max-width: 381px;
                margin-right: 50px;

                img {

                    display: block;
                    max-width: 100%;
                    margin-bottom: 5px;
                }

                span {

                    display: inline-block;
                    max-width: 90%;
                }
            }

            &-text {

                font-size: 18px;

                &-row {

                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 30px;

                    &:last-child {

                        margin-bottom: 0;
                    }
                }

                &-col1 {

                    width: 250px;
                    flex-shrink: 0;

                    span {

                        display: block;
                        font-weight: bold;
                        font-size: 30px;
                        text-transform: uppercase;
                    }
                }
            }

            &:nth-child(even) {

                .delivery-page__zones-item-image {

                    order: 2;
                    margin-right: 0;
                    margin-left: 50px;
                    text-align: right;

                    span {

                        text-align: left;
                    }
                }

                .delivery-page__zones-item-text {

                    order: 1;

                    &-col1 {

                        width: 350px;
                    }
                }
            }
        }
    }

    &__payment {

        margin-top: 100px;

        &-title {

            display: inline-block;
            position: relative;

            &::before {

                content: '';
                display: block;
                position: absolute;
                width: 434px;
                height: 92px;
                top: 60px;
                left: calc(100% - 40px);
                background-image: url('../resources/imgs/delivery-page-payment-title-vector.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: auto 100%;
            }

            span {

                font-weight: bold;
                font-size: 30px;
                text-transform: uppercase;
                color: #C2000D;
                display: block;
            }
        }

        &-desc {

            margin-top: 40px;
            display: flex;
            align-items: flex-end;

            &-left {

                margin-right: 80px;
                font-size: 18px;
                padding-bottom: 5px;
            }

            &-right {

                font-weight: bold;
                font-size: 30px;
                text-transform: uppercase;
                span {

                    display: block;
                }
            }
        }

        &-action {

            margin-top: 200px;
            max-width: 565px;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;
            background: #FFFFFF;
            border: 1px solid #C2000D;
            box-sizing: border-box;
            border-radius: 10px;
            font-size: 18px;
            position: relative;

            &::before {

                content: '';
                display: block;
                position: absolute;
                width: 499px;
                height: 211px;
                top: -150px;
                right: 0;
                background-image: url('../resources/imgs/delivery-page-action-vector.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: auto 100%;
            }

            &-procent {

                position: absolute;
                width: 120px;
                height: 116px;
                line-height: 116px;
                text-align: center;
                top: -50px;
                left: -50px;
                background-image: url('../resources/imgs/delivery-page-action-procent-round.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: auto 100%;
                font-weight: bold;
                font-size: 36px;
                color: #C2000D;

                &::before {

                    content: '';
                    display: block;
                    position: absolute;
                    width: 123px;
                    height: 92px;
                    top: -45px;
                    left: -30px;
                    background-image: url('../resources/imgs/delivery-page-action-procent-skidka.svg');
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: auto 100%;
                }
            }
        }
    }
}

@media screen and (max-width:780px) {

    .delivery-page {

        margin-top: 50px;

        &__title {

            &::before {

                background-image: url('../resources/imgs/delivery-page-title-mobile-vector.svg');
                left: 0;
            }
        }

        &__inform {

            margin-top: 30px;

            &-hours {

                flex-wrap: wrap;

                &-left {

                    width: 100%;
                    margin-right: 0;
                }
            }

            &-phones {

                flex-wrap: wrap;
                margin-top: 100px;
            }

            &-phone {

                &:nth-child(2) {

                    margin-top: 130px;
                    text-align: right;
                    padding-right: 0;
                    padding-left: 150px;

                    &::before {

                        background-image: url('../resources/imgs/delivery-page-belorechensk-round2.svg');
                        background-size: auto 250px;
                        background-position: -25px -35px;
                        right: auto;
                        left: 0;
                    }
                }
            }
        }

        &__zones {

            margin-top: 80px;

            &-title-wrapper {

                text-align: left;
            }

            &-title {

                margin-bottom: 30px;
            }

            &-item {

                flex-wrap: wrap;

                &-image {

                    margin-right: 0 !important;
                    margin-left: 0 !important;
                    order: 2 !important;
                    text-align: left !important;

                    span {

                        max-width: none;
                    }
                }

                &-text {

                    margin-bottom: 10px;

                    order: 1 !important;

                    &-row {

                        flex-wrap: wrap;
                        margin-bottom: 20px;
                    }

                    &-col1 {

                        width: 100% !important;
                    }
                }
            }
        }

        &__payment {

            margin-top: 50px;

            &-title {

                &::before {

                    display: none;
                }
            }

            &-desc {

                flex-wrap: wrap;
                margin-top: 20px;

                &-left {

                    width: 100%;
                    margin-right: 0;
                }
            }

            &-action {

                max-width: none;
                margin-left: 50px;
                margin-right: 0;
                margin-top: 250px;

                &::before {

                    width: calc(100% + 50px);
                    height: 211px;
                    top: -270px;
                    right: 0;
                    background-position: -10px 0;
                    background-size: calc(100% + 40px) auto;
                }
            }
        }
    }
}

@media screen and (max-width:670px) {

    .delivery-page {

        &__payment {

            &-action {

                margin-top: 230px;

                &::before {

                    top: -250px;
                }
            }
        }
    }
}

@media screen and (max-width:540px) {

    .delivery-page {

        &__title {

            &::before {

                background-size: auto 230px;
                background-position-y: -40px;
            }
        }

        &__payment {

            &-action {

                margin-top: 200px;

                &::before {

                    top: -220px;
                    background-size: calc(100% + 30px) auto;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {

    .delivery-page {

        &__title {

            &::before {

                background-size: auto 200px;
                background-position-y: -30px;
            }
        }

        &__payment {

            &-action {

                margin-top: 180px;

                &::before {

                    top: -200px;
                    background-position: -5px 0;
                    background-size: calc(100% + 20px) auto;
                }
            }
        }
    }
}

@media screen and (max-width:420px) {

    .delivery-page {

        &__title {

            &::before {

                background-size: auto 180px;
                background-position-y: -20px;
            }
        }

        &__inform {

            &-phones {

                margin-top: 70px;
            }

            &-phone {

                &::before {

                    width: 130px;
                    height: 130px;
                    top: -40px;
                }

                span {

                    font-size: 25px;
                }

                &:nth-child(1) {

                    padding-right: 100px;

                    &::before {

                        background-size: auto 130px;
                        background-position: 0 0;
                    }
                }

                &:nth-child(2) {

                    margin-top: 80px;
                    padding-left: 100px;

                    &::before {

                        background-size: auto 190px;
                        background-position: -20px -28px;
                    }
                }
            }
        }

        &__payment {

            &-action {

                margin-top: 180px;

                &::before {

                    top: -180px;
                }
            }
        }
    }
}

@media screen and (max-width:360px) {

    .delivery-page {

        &__title {

            &::before {

                background-size: auto 160px;
                background-position-y: -10px;
            }
        }

        &__inform {

            &-phone {

                span {

                    font-size: 20px;
                }
            }
        }

        &__payment {

            &-action {

                margin-top: 160px;

                &::before {

                    top: -160px;
                }
            }
        }
    }
}