.main-block {

    position: relative;
    padding-top: 150px;
    padding-bottom: 120px;
    padding-left: 20px;
    max-width: calc(50% + 600px);
    margin-left: auto;
    background-image: url('../resources/imgs/main-block-img.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    max-height: 427px;

    &__title {

        font-weight: bold;
        font-size: 150px;
        color: #C2000D;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        &::before {

            content: '';
            display: block;
            position: absolute;
            width: 365px;
            height: 385px;
            top: -150px;
            right: -120px;
            background-image: url('../resources/imgs/main-block-round-text.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: auto 100%;
        }
    }

    &__desc {

        font-size: 18px;
        margin-bottom: 50px;
    }

    &__text {

        position: relative;
        z-index: 1;
    }
}